/*  
Styles for commutatio
Written by Moises Lomas & Sam Reaves
October 30th, 2015
*/


// --------------------------
//  Imports
// --------------------------

	// Libs
	@import 'libs/bourbon/bourbon';
	@import 'libs/typicons/typicons';

	// Modules
	@import 'modules/post';
	@import 'modules/post-list';

	// Partials
	@import 'partials/reset';


// --------------------------
//  Global Elements
// --------------------------
body {
	font-family: 'Titillium Web', Verdana, Arial, sans-serif;
	padding: 0;
	margin: 0;
	border: 0;
}


// --------------------------
//  IDs
// --------------------------


// --------------------------
//  Classes
// --------------------------